# Python
__pycache__/
*.py[cod]
venv/
.env
# cookies.txt included for deployment
*.db
bot_database.db

# Загрузки и временные файлы
downloads/
*.mp3
*.webm
*.m4a
*.webp

# Разрешаем логотипы проекта
!logo*.png
!logo*.jpg

# IDE
.idea/
.vscode/
.bin/

